.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nearestCentersSection[_ngcontent-oqg-c114] h1[_ngcontent-oqg-c114] {
  font-size: 32px;
  color: #002060;
  line-height: 40px;
 

}
.accessibility-plugin-ac{
  font-weight: 400;
}
.pinform{
  vertical-align: middle;
}
.pinform input{
  height: 5px;
}
.resultdiv{
  padding: 2%;
}
@media only screen and (max-width: 400px) {  
  .css-1dk9rsx-MuiPaper-root{
    display: block !important;
  }
}